<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <img src="assets/people-hands.jpg" style="height: 40px;width: 40px;" class="card-img-top" alt="...">
    <a class="navbar-brand" style="color:white;margin-left: 10px;">{{app_config.APP_NAME}}</a>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" style="color:white" routerLink="/auth/ngrx-demo">NgRx Demo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:white" routerLink="/auth/custom-decorator">Custom Decorator</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" style="color:white" routerLink="/auth/login">Login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:white" routerLink="/auth/register">Register</a>
            </li>
        </ul>
    </div>
</nav>

<app-authentication></app-authentication>
