<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <br>
            <div class="row" style="margin:0px 0px 0px 0px;">
                <form class="input-group col-lg-12" [formGroup]="createNewNgRxForm" (ngSubmit)="createNewTopic()">
                    <div class="input-group col-lg-12">
                        <input type="text" class="form-control " id="topicTxt" name="topicTxt" aria-describedby="emailHelp" placeholder="Write something..." formControlName="topicTxt">
                        <div class="input-group-append ">
                            <button class="btn btn-primary " type="button ">Add Topic</button>
                        </div>
                    </div>
                </form>

            </div>
            <br>
            <div class="list-group ">
                <h5 class="card-title ">{{title}}</h5>
                <a *ngFor="let _topic of allTopics|async; index as i; first as isFirst " style="margin-bottom: 10px" class="list-group-item list-group-item-action {{isFirst? '': ''}} ">
                    <div class="d-flex w-100 justify-content-between ">
                        <h5 class="mb-1 ">{{_topic['topicId']}}</h5>
                        <small>{{_topic['topicName']}}</small>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>